<h4>Event List</h4>
<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event Name</th>
      <th scope="col">Invited</th>
      <th scope="col"> (Editting tools // NGIF)</th>
    </tr>
    </thead>




  </table>
<app-event *ngFor="let event of eventList" [event]="event" (click)="openEvent()"></app-event>


<div class="m-3">

  <!--    <input *ngIf="!item.done" type="checkbox" (change)="eventCheck($event)">-->
  <!--    <input *ngIf="item.done" type="checkbox" checked (change)="eventCheck($event)">-->



</div>

<button (click)="refresh()">refresh test</button>

