<h4>Create Event</h4>

<form #eventForm="ngForm" (ngSubmit)="createEvent(eventForm)">
  <div class="form-group">
    <label for="eventNameInput">Event Name</label>
    <input ngModel name="eventName" class="form-control" id="eventNameInput" placeholder="Enter Event Name">
  </div>

<!--  [(ngModel)]="event.eventName"-->




  <ngb-datepicker ngModel name="date" id="dateInput" [(ngModel)]="dateSelect" (ngModelChange)="select(dateSelect)" [minDate]="{year: 1, month: 1, day: 1}"
                [maxDate]="{year: 9999, month: 12, day: 31}"



            (dateSelect)="onDateSelect($event)"
></ngb-datepicker>

<div class="row">
<div class="col">

    <div *ngFor="let account of accountList">
      <input name="invites" type="checkbox"  id="{{account}}" [checked]="isChecked" (change)="eventCheck($event, account, isChecked)">
<!--      <input *ngIf="invite.invited" type="checkbox" checked (change)="eventCheck($event)">-->
<!--      value="{{account.value}}" [(ngModel)]="account.checked"-->
      {{account.firstName}} {{account.lastName}}

      <button (click)="invite(account)">Invite</button>

    </div>

</div>




</div>
  </form>
    <div *ngIf="!isEditing">
    <button (click)="createEvent(eventForm)"  type="submit">Create Event</button>
    </div>
    <div *ngIf="isEditing">
      <button (click)="updateEvent(eventForm)"  type="submit" >Update Event</button>
      <button (click)="cancelUpdate()"  type="submit" >Cancel</button>

    </div>

    {{errorMessage}}


