<script src="app.component.ts"></script>
<div>
  <app-login *ngIf ="!isRegistering && !isLoggedIn"></app-login>
  <app-register *ngIf ="isRegistering"></app-register>
</div>


<div *ngIf ="!isRegistering && isLoggedIn">
  <app-nav-bar></app-nav-bar>

  <div *ngIf ="selectedEvent === null">
  <table style="width:80%">
    <tr>
      <th>  <app-event-list></app-event-list> </th>
      <th>   </th>
      <th>  <app-event-input></app-event-input> </th>
    </tr>
  </table>
  </div>
  <div>
    <app-event *ngIf ="(selectedEvent !== null) && !isEditing"
               [event]="selectedEvent">

    </app-event>
    <app-event-input
      *ngIf ="(selectedEvent !== null) && isEditing"
     [event]="selectedEvent">

    </app-event-input>
  </div>






</div>

